<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.online.disk.dao.FileClassMapper" >
  <resultMap id="BaseResultMap" type="com.online.disk.model.FileClass" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="class_desc" property="classDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, class_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from file_class
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from file_class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.online.disk.model.FileClass" >
    insert into file_class (id, class_desc)
    values (#{id,jdbcType=INTEGER}, #{classDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.online.disk.model.FileClass" >
    insert into file_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="classDesc != null" >
        class_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classDesc != null" >
        #{classDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.online.disk.model.FileClass" >
    update file_class
    <set >
      <if test="classDesc != null" >
        class_desc = #{classDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.online.disk.model.FileClass" >
    update file_class
    set class_desc = #{classDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>